<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>50 millions demo</title>
</head>
<body>
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <hr>
    <footer>
        Время генерации: {{ generation_time|floatformat:"-3" }} c
    </footer>
</body>
</html>
