{% extends 'base.html' %}

{% block content %}
    <h3>Добавить запись</h3>

    <form action="{% url 'record_add' %}" method="POST">
        {{ form.as_p }}
        <input type="submit" value="Добавить" />
    </form>
{% endblock %}
