{% extends 'base.html' %}

{% block content %}

    <h3>{{ object.title }}</h3>

    <p>{{ object.text }}</p>

    {% if next_recs %}
        <div>
            Следующие записи:
            <ul>
                {% for rec in next_recs %}
                    <li>
                        <a href="{% url 'record_view' rec.0 %}">{{ rec.1 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div>
        Случайные записи:
        <ul>
            {% for rec in random_recs %}
                <li>
                    <a href="{% url 'record_view' rec.0 %}">{{ rec.1 }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
