{% extends 'base.html' %}

{% block content %}
    <h3>Записи:</h3>
    <ul>
        {% for rec in object_list %}
            <li>
                <a href="{% url 'record_view' rec.number %}">{{ rec.title }}</a>
                <small>/ <a href="{% url 'record_delete' rec.number %}?page={{ cur_page }}">Удалить</a></small>
            </li>
        {% empty %}
            Нет записей.
        {% endfor %}
    </ul>

    <nav>
        Страницы:
        {% if prev_page %}
            <a href="{% url 'records_list' %}?page={{ prev_page }}">Пред.</a> |
        {% endif %}
        {{ cur_page }}
        {% if next_page %}
            | <a href="{% url 'records_list' %}?page={{ next_page }}">След.</a>
        {% endif %}
    </nav>

    <p>
        {% if cur_page == 1 %}
            <a href="{% url 'record_add' %}">Добавить запись</a>
        {% endif %}
    </p>
{% endblock %}
